*.iml
*.swp
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
/gradle
gradlew.bat
gradlew
gradle.properties
.idea
app/release
*.dat
checkpoints
checkpoints-testnet.txt
checkpoints.txt
*.txt
.gradle/
*.log
*.DS_Store
*.db
